/********************
Généralités
********************/
:root{
    font-size: 18px;
    font-family: "Source Sans Pro";
}

body{
    max-width: 980px;
    margin-inline: auto;
    line-height: 1.5;
}

/***************
HEADER
***************/

header{text-align: center;}
header h1{
    font-family: Courgette ;
    color: #003884;
    text-transform: uppercase;
}

/*************************
MAIN
************************/
main{
    text-align: justify;
}

em, strong{
    color: #003884;
}
ol,
blockquote{
    font-family: Courgette;
    color: #003884;
}

ol{
    font-weight: bold;
}
 ol li a:hover{
    color: #4f89b9 ;
 }

blockquote{
    background-color: #d7e1ef;
    text-align: center;
}

blockquote p::before{
    content: "\00AB  ";
}

blockquote p::after{
    content: "  \00BB";
}

blockquote cite{
    font-style: normal;
}

h2,
h3{
    font-family: Courgette;
    text-align: center;
}

h2{color: #4f89b9;}
h3{color: #003884 ;}

h2 p, h3 p{
    text-align: justify;
}

li a{
    text-decoration: none;
    color: #003884;
}

.img1,
.img3{
    float: right;
    margin-left: 1em;
}

.img2,
.img4{
    float: left;
    margin-right: 1em;
}

q{
    font-style: italic;
    quotes: " \00AB  " "  \00BB";
}



/**********************
FOOTER  
***********************/
footer{
    text-align: center;
}

footer p{
    text-align: center;
}

footer a{
    color: #333;
}