/****** Déclaration de la police Lato *******/

/* Muli Rgular */
@font-face {
    font-family: Lato;
    src: url(../../instructions/lato/Lato-Light.ttf);
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: Lato;
    src: url(../../instructions/lato/Lato-LightItalic.ttf);
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: Lato;
    src: url(../../instructions/lato/Lato-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: Lato;
    src: url(../../instructions/lato/Lato-Italic.ttf);
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: Lato;
    src: url(../../instructions/lato/Lato-ExtraBold.ttf);
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: Lato;
    src: url(../../instructions/lato/Lato-ExtraBoldItalic.ttf);
    font-weight: 700;
    font-style: italic;
}

/* Economica */

@font-face {
    font-family: Economica;
    src: url(../../instructions/economica/Economica-BoldItalic.ttf);
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: Economica;
    src: url(../../instructions/economica/Economica-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: Economica;
    src: url(../../instructions/economica/Economica-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: Economica;
    src: url(../../instructions/economica/Economica-Italic.ttf);
    font-weight: 400;
    font-style: italic;
}



/*******
Correspondance des noms communs aux graisses

100==>thin(hairline)
200==>extralight(ultralight)
300==>light
400==>regular
500==>medium
600==>semi-bold
700==>bold
800==>extra-bold
900==>black
950==>extra-black

*********/
