/* Déclaration des fonts */

@font-face {
    font-family: Candal;
    src: url(../font/Candal.ttf);
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: Open-sans;
    src: url(../font/OpenSans[wdth\,wght].ttf);
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: Open-sans;
    src: url(../font/OpenSans-Italic[wdth\,wght].ttf);
    font-weight: 400;
    font-style: italic;
}