:root{
    --clr-primary: #dd5735 ;
    --clr-secondary: #333;
    --clr-three: #fff;
    --font: Arial;
    --size: 20px;
}

.item{
    text-align: center;
}


.owl{
    background-color: var(--clr-primary);
    color: var(--clr-three);
    padding: 4rem 1rem; 
}

.owl-nav{
    text-align: center;
}

.owl-nav span{
    font-size: 3rem;
    margin-inline: 1rem;
    color: var(--clr-primary);
}

.owl-dot{
    color: var(--clr-secondary);
    font-size: 1rem;
}